$svgbutton_size: 64px;
$c_green0: #0a2c19;
$c_green1: #154128;
$c_green2: #04180c;
$s2: 960px;
$s4: $s2 / 2;
$s8: $s2 / 4;
$s16: $s2 / 8;
$svg_size: $s16 * 0.75;

body {
  background-color: $c_green0;
  width: $s2;
  margin: auto;
  // background-image: url("../assets/svg/grid\ 8\ mix.svg");
  // backdrop-filter: blur(10px)
}

.App {
  text-align: center;
}

.link {
  color: #b318f0;
}

* {
  font-family: consolas, monospace;
  font-size: 18px;
  color: #ccc;
}

button {
  font-size: 18px;
  border: none;
  background-color: $c_green1;
  border-radius: 6px;
  margin: 2px 2px;
  // padding: 6px;
  // margin: auto;
  min-width: 32px;

  &:hover {
    filter: brightness(133%);
    transform: scale(110%);
  }

  &:active {
    filter: brightness(166%);
    transform: scale(90%);
  }
}

img {
  display: block; //images are default inline, creating a gap underneath
  width: $svg_size;
  height: $svg_size;
}

.gridlines {
  // width: $svg_size;
  // height: $svg_size;
  position: absolute;
  z-index: -1;
  opacity: 10%;
  // visibility: hidden;
}

.button_grid {
  // background-color: red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 32px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-left: 2px;
}

.alt_display {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  padding: 2px;
}

.gridlines {
  width: $svg_size;
  height: $svg_size;
  position: absolute;
  z-index: -1;
  opacity: 10%;
  // visibility: hidden;
}

// .alt_parent {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: nowrap;
//   justify-content: space-between;
//   align-items: stretch;
//   align-content: stretch;

//   img {
//     height: $svg_size;
//     width: $svg_size;
//   }
// }