$svgbutton_size: 64px
$c_green0: #0a2c19
$c_green1: #154128
$c_green1b: #1c6d3e
$c_green2: #04180c
$c_green3: #20b451
$c_green4: #0b1f12

*
    font-family: consolas, monospace
    font-size: 16px
    color: #ccc

body, .App
    background-color: $c_green0

.App
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: flex-start
    align-items: stretch
    align-content: stretch

.sidebar
    position: sticky
    background-color: $c_green1
    max-width: 240px
    min-width: 240px
    top: 6px
    margin: 6px
    padding: 6px
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    justify-content: flex-start
    align-items: stretch
    align-content: stretch
    row-gap: 10px
    border-radius: 6px
    height: calc(100vh - 24px) // account for padding and margin
    // overflow-y: auto

.CopyButton
    color: white
    border: none
    border-radius: 6px
    background-color: $c_green1
    min-width: 60px
    height: 30px
    overflow: hidden
    white-space: nowrap
    text-overflow: clip
    text-shadow: 1px 1px $c_green2
    text-align: center
    transition: all .5s
    user-select: none

    span
        font-size: 18px

    &:hover:not(:active)
        background-color: $c_green1b
        transform: scale(102%)
        transition-duration: .25s

    &:hover, &:active
        span
            transition-duration: 0s
            opacity: 50%

        &::after
            position: absolute
            left: 0
            right: 0
            top: 0
            bottom: 0
            font-size: 20px
            content: '📋'

    &:active
        background-color: $c_green3
        transform: scale(90%)
        transition-duration: 0s

img
    display: block //images are default inline, creating a gap underneath

.Search
    outline: none
    color: white
    border: none
    padding: 6px
    border-radius: 4px

select, input
    background-color: $c_green2

// .gridlines
//     // width: $svg_size;
//     // height: $svg_size;
//     position: absolute
//     z-index: -1
//     opacity: 10%
//     // visibility: hidden;

.generalInfo
    font-size: 14px
    padding: 14px
    color: #ccc
    background-color: $c_green4
    white-space: pre-wrap
    border-radius: 6px

.gridlines
    position: absolute
    z-index: -1
    opacity: 10%

.prefabs
    padding: 6px 6px 6px 0
    display: flex
    flex-wrap: wrap
    gap: 8px
    width: 100%
    align-content: flex-start // or height: fit-content

.card
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    align-content: stretch
    padding: 8px
    background-color: $c_green4
    border-radius: 8px
    gap: 6px
    width: 158px
    min-height: 250px

    .cardTitle
        color: #ddd
        font-size: 18px
        text-align: center

    img
        padding: 8px

.Buttons
    display: flex
    justify-content: center
    flex-wrap: wrap
    gap: 6px

    button
        flex: fit-content

    div // put credit on its own line
        width: 100%
        text-align: center

.brushSvg
    filter: brightness(90%)

.bottomLinks
    display: flex
    flex-direction: column
    gap: 12px
    a
        font-size: 14px

select
    border: none
    border-radius: 4px
    padding: 2px

.dropdowns
    display: flex
    flex-direction: column
    gap: 6px

.dropdown
    display: flex
    justify-content: center
    align-items: center
    gap: 8px

    *
        flex: 1

    &:not(select)
        text-align: right

.individual
    display: flex

    align-items: center
    background-color: $c_green4
    padding: 6px
    border-radius: 12px
    width: 250px
    gap: 6px

    img
        padding-left: 6px

    button
        flex: 1
