$svgbutton_size: 64px
$c_green0: #0a2c19
$c_green1: #154128
$c_green1b: #1c6d3e
$c_green2: #04180c
$c_green3: #20b451
$c_green4: #0b1f12
$s2: 960px
$s4: calc($s2 / 2)
$s8: calc($s2 / 4)
$s16: calc($s2 / 8)
$svg_size: calc($s16 * 0.75)

*
    font-family: consolas, monospace
    font-size: 16px
    color: #ccc

body, .App
    background-color: $c_green0

.App
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: flex-start
    align-items: stretch
    align-content: stretch
    min-height: 100vh

.sidebar
    background-color: $c_green1
    max-width: 250px
    min-width: 250px
    margin: 6px
    padding: 6px
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    justify-content: flex-start
    align-items: stretch
    align-content: stretch
    row-gap: 10px
    border-radius: 6px

.CopyButton
    color: white
    border: none
    border-radius: 6px
    background-color: $c_green1
    margin: 3px
    min-width: 60px
    height: 30px
    overflow: hidden
    white-space: nowrap
    text-overflow: clip
    text-shadow: 1px 1px $c_green2
    text-align: center
    transition: all 2s

    span
        font-size: 18px

    &:hover:not(:active)
        background-color: $c_green1b
        transform: scale(110%)
        transition-duration: .25s

    &:hover, &:active
        span
            transition-duration: 0s
            visibility: hidden
            // filter: blur(1px)
            // opacity: .5

        &::after
            position: absolute
            left: 0
            right: 0
            top: 0
            bottom: 0
            font-size: 20px
            content: '📋'

    &:active
        background-color: $c_green3
        transform: scale(90%)
        transition-duration: 0s

img
    display: block //images are default inline, creating a gap underneath
    // min-width: $svg_size
    // width: $svg_size
    // height: $svg_size

.Search
    outline: none
    color: white
    border: none
    padding: 6px
    border-radius: 4px

select, input
    background-color: $c_green2

// .gridlines
//     // width: $svg_size;
//     // height: $svg_size;
//     position: absolute
//     z-index: -1
//     opacity: 10%
//     // visibility: hidden;

// .button_grid
//     // background-color: red;
//     display: grid
//     grid-template-columns: 1fr 1fr 1fr
//     grid-auto-rows: 32px
//     grid-column-gap: 0px
//     grid-row-gap: 0px
//     padding-left: 2px

.generalInfo
    font-size: 14px
    padding: 14px
    color: #ccc
    background-color: $c_green4
    white-space: pre-wrap
    border-radius: 6px

.gridlines
    width: $svg_size
    height: $svg_size
    position: absolute
    z-index: -1
    opacity: 10%
    // visibility: hidden;

.prefabs
    padding: 12px
    display: flex
    flex-wrap: wrap
    gap: 8px
    width: 100%
    align-content: flex-start // or height: fit-content

.card
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    align-content: stretch
    padding: 12px 8px 8px 8px
    background-color: $c_green4
    border-radius: 8px
    gap: 6px
    width: 160px
    min-height: 250px

    .Buttons
        margin-top: auto // snap to bottom
        text-align: center // center button array

    .cardTitle
        color: #ddd
        font-size: 18px
        text-align: center

    img
        padding: 2px
    //     margin-left: auto
    //     margin-right: auto

.brushSvg
    filter: brightness(90%)

.dropdowns
    // padding: 6px 0
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(3, 1fr)
    column-gap: 10px
    row-gap: 6px
    align-items: center // vertically align labels
    text-align: right

    select
        border: none
        border-radius: 4px
        padding: 2px

.bottomLinks
    display: flex
    flex-direction: column
    gap: 12px
    a
        font-size: 14px
