body {
	background-color: #0a2c19;
	width: 960px;
	margin: auto;
}

* {
	font-family: consolas;
	color: rgb(224, 245, 212)
}

#maingrid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	row-gap: 16px;
	column-gap: 16px;
}

.folder_name {
	color: rgb(214, 238, 180);
	// width: min-content;
	// padding: 16px;
	// margin: auto;
	// background-color: darkblue;
	text-align: center;
	// grid-area: folder_name;
}

// button {
// 	border: none;
// 	height: 48px;
// 	width: 196px;

// 	border-radius: 64px;
// 	background: linear-gradient(145deg, #31955d, #297d4e);
// 	box-shadow: 18px 18px 49px #236b43,
// 		-18px -18px 49px #39ab6b;

// 	&:active {
// 		background: #2e8b57;
// 		transform: translateY(2px);
// 	}

// }

button {
	font-size: 18px;
	padding: 5px;
	border: none;
	background-color: #154128;
	border-radius: 6px;


	&:hover {
		filter: brightness(110%)
	}

	&:active {
		filter: brightness(150%);
		transform: translateY(4px)
	}
}

#main {
	border-radius: 0px 0px 32px 32px;
	padding: 1px 32px 24px 32px;
	background-color: rgb(4, 24, 12);
}

#lynx {
	float: left;
	margin-top: 16px;
	padding: 16px;
	// white-space: pre-line;
	background-color: rgb(4, 24, 12);
	border-radius: 16px;
}